body {
    background-color: #e2dc94;
    margin: 0px;
	  padding: 0px;
  }
  .ciz{
    border: 5px solid #16a0845b;
  
  }
  h1 {
   
    font-family:'Courier New', Courier, monospace;
    font-size: 300%;
    color: #09550b;
  }
  h1:hover{
    transform: rotate(2deg);
  }
  p {
    color: #035050;
  }
  .arama{
    position:absolute;
    top:50px;
   right: 45px;
  }
  .intagram{
    color: #2f4209;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px; 
    position:absolute;
    right: 85px;
    top: 85px;
    
  }

  .butonlar{

    width:80%;
    right: 80%;
  }
  .button {
    font-family:'Times New Roman', Times, serif;
    border: none;
   
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px
  }
  .button2{
    font-family:'Times New Roman', Times, serif;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10x;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 30px;
    
  }

  
  .button1 {
    
    color: #6b8e23;
    
  }
  
  .button1:hover {
    color: #09550b;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .buttontr{
    background-color: #6b8e23;
    color: #eee685;
  }
  .buttontr:hover{
    background-color: #eee685;
    color: #6b8e23;
  }
  
  .sag{
    width: 1270px;
    height: 480px;
    position:absolute;
    top: 130px;
   left: 15px;

  }

  .sag p{
    font-size: 23px;
    color: #2f4209;
    width: 600px;
    font-family:'Times New Roman', Times, serif;
    position:absolute;
   
   left:10px ;
  }

  .sag img{
    width: 550px;
    height: 450px;
    position:absolute;
    top: 20px;
   right: 15px;
   border-radius: 60px;
  }
  .sag img:hover{
    transform: rotate(-5deg);
  }

    .sol{
      width: 1270px;
    height:480px;
    
    float:left;
    position:absolute;
    top: 625px;
    left: 15px;
    }
    .enalt{
      width: 1270px;
      height:480px;
      background-color:#16a0845b;
      position:absolute;
      top: 1115px;
      left: 15px;
    }
    .altlogo h1{
      font-family:'Courier New', Courier, monospace;
      font-size: 300%;
      color: #09550b;
      position:absolute;
      
     left: 520px;
    }
    .enalt img{
      width: 250px;
      height: 200px;
      position:absolute;
      top:280px;
     right: 500px;
    }

    .telefon{
      font-family:'Times New Roman', Times, serif;
      position:absolute;
      top:280px;
     right: 150px;
     color: beige;
    }

    .mail{
      font-family:'Times New Roman', Times, serif;
      position:absolute;
      top:280px;
     left: 120px;
     color: beige;

    }
    .altlink h2{
      font-family:'Times New Roman', Times, serif;
      position:absolute;
      top:150px;
     left: 450px;
     color: beige;
    }
    .altbut2{
      background-color: #4CAF50; 
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      position:absolute;
      top:200px;
     left: 580px;
     transition-duration: 0.4s;
    }
    .altbut2:hover{
      background-color: white; 
  color: #4CAF50;
    }
    .altbutton{
      position:absolute;
      top:100px;
     left: 300px;
     font-family:'Times New Roman', Times, serif;
    }
    .altbutton a{
      transition-duration: 0.4s;
      color: #09550b;
    }

    .altbutton a:hover{
      
  color: white;
    }
    .butonlar{
      
         position:absolute;
   
         top: 45px;
         right: 5px;
      }
      .tr-en{
        position:absolute;
   
         top: 15px;
         right: 50px;
        
      }
    .sol img{

        width:155px;
        height:155px;
        transition: transform .2s;
       
       }
       
     .sol img:hover{ 
         transform: scale(2);
         
        }
   .cik{
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    border: 2px solid rgb(212, 47, 212);
    position:absolute;
    top:1500px;
   right: 25px;
   }
   .cik:hover{
    color: wheat;
    background-color: purple;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   }
   h4{
    font-size: 25px;
   }
   .sol p{
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
   }

    .hakkisag{
    width: 1270px;
    height: 480px;
    position:absolute;
    top: 130px;
   left: 15px;

  }

  .hakkisag p{
    font-size: 23px;
    color: #2f4209;
    width: 600px;
    font-family:'Times New Roman', Times, serif;
    position:absolute;
   
   right:15px ;
  }

  .hakkisag img{
    width: 550px;
    height: 450px;
    position:absolute;
    top: 20px;
   left: 10px;
   border-radius: 60px;
  }
  .hakkisag img:hover{
    transform: rotate(-5deg);
  }   
  
  .hizmetlersag img{

    width:155px;
    height:155px;
    transition: transform .2s;
   
   }
   
 .hizmetlersag img:hover{ 
     transform: scale(2);
     
    }
    .hizmetlersag p{
      font-size: 23px;
    color: #2f4209;
   
    font-family:'Times New Roman', Times, serif;
    }
    .hizmetsol{
      width: 1270px;
      height:480px;
      
      float:left;
      position:absolute;
      top: 900px;
      left: 15px;
    }

    .hizmetsol img{

      width:155px;
      height:155px;
      transition: transform .2s;
     
     }
     
   .hizmetsol img:hover{ 
       transform: scale(2);
       
      }
  .iletişimenalt{

    width: 1270px;
    height:480px;
    background-color:#16a0845b;
    position:absolute;
    
    left: 15px;
  }

  .iletişimenalt img{
    width: 250px;
    height: 200px;
    position:absolute;
    top:280px;
   right: 500px;
  }

  .konumad{
    width: 1270px;
    height:480px;
    
    position:absolute;
    top: 650px;
    left: 15px;
  }
  .konumad p{
    position:absolute;
    left: 200px;
    font-size: 25px; 
  }
  .konum{
    position:absolute;
   top: 35px;
    left: 350px;
  }
  
 